{% extends 'website/base.html' %}

{% block nav-contact %} active {% endblock %}

{% block content %}
    <div class="container bd-example margin-top-60">
        <div class="contact-details" style="width: 200px; margin: 0 auto;">
            <address>
                <strong>Phone Number: </strong><br> (+86) 185 1670 0972
            </address>

            <address>
                <strong>Email: </strong><br>
                <a href="mailto:vijaykumarbhattacharji@hotmail.com">vijaykumarbhattacharji@hotmail.com</a>
            </address>
        </div>
    </div>
{% endblock %}
