{% extends 'website/base.html' %}

{% block nav-resume %} active {% endblock %}

{% block content %}
     <!-- Header -->
    <header class="masthead">
        <div class="container resumeheader">
            <div class="intro-text">
                <span class="name">Portfolio</span>
                <hr class="star-light">
                <span class="skills">Software Engineer - Web Developer - Game Programmer</span>
            </div>
        </div>
    </header>
    <div class="container">
        <section class="resume resume-summary">
            <h3><i class="fa fa-list-alt" aria-hidden="true"></i> Summary</h3>
            <p>Software engineer with 4 and half years of industry experience with Python, PHP and Javascript.
            Currently working as a software engineer at Juwai.com at Shanghai, China</p>

            <p>I think of programming languages as tools to solve problems and hence I am not too attached to any one programming language.
            Throughout my career I have used programming languages that best suited the job at hand. I do slightly prefer python over other languages because of it's ease of use.</p>

            <p>I enjoy solving logical problems and making video games in my spare time.</p>

        </section>
        <section class="resume resume-education">
            <h3><i class="fa fa-graduation-cap" aria-hidden="true"></i> Education</h3>
            <h6 style="text-align: center; margin-top: 5px;">Degree: Bachelor of Computer Science Majoring in Computer Game Development</h6>
            <h5 style="text-align: center; margin-top: 5px;">Schools/Universities</h5>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Institution</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>The Bishop's School, Pune</td>
                        <td>1995</td>
                        <td>2005</td>
                    </tr>
                        <tr>
                        <td>Nowrosjee Wadia College</td>
                        <td>2006</td>
                        <td>2008</td>
                    </tr>
                        <tr>
                        <td>Staffordshire University</td>
                        <td>2009</td>
                        <td>2013</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="resume resume-experience">
            <h3><i class="fa fa-id-card" aria-hidden="true"></i> Experience</h3>
            <p>My first job was at Dragonsoft Research, Malaysia where I worked as an application programmer.
                Working here gave me much needed Industry experience and greatly improved my coding skills.
                In the two years that I spent working here I have gained valuable industry knowledge.
                While working here I cultivated great interest in the finer aspects of Web Development and this led to my next job.</p>

            <p>My second job took me to Shanghai,
                the business capital of the east.
                I started working for a company called Daily Fresh as a senior web developer.
                My job here was to make a POS System on an Android device.
                To accomplish this task I used a multitude of technologies such as Cordova, Ionic, the MEAN stack and AngularJS.
                Using these technologies gave me a deep insight into the JavaScript eco-system.
                However after finishing this project there was nothing much do other than general IT tasks and I felt like
                I wasn’t growing as developer doing them and so I have started looking for other job opportunities where I can keep improving as Web Developer.</p>

            <p>Currently I am working at Juwai as a Software Engineer, here I develop and maintain core systems for juwai-admin which is a
                custom cms for the main juwai.com website. I have gained a lot of experience with Laravel and Nodejs while working here
                and hope to keep improving my skills to become a better developer.</p>
        </section>
    </div>
{% endblock %}
