@media (min-width: 992px)
{
    #mainNav {
        padding: 0px;
    }
}

@media (min-width: 768px)
{
    header .masthead .container {
        padding-top: 50px;
        padding-bottom: 25px;
    }
}

header .masthead .container {
    padding-top: 0;
    padding-bottom: 0;
}

.margin-top-50 {
    margin-top: 50px;
}

section {
    padding-top: 1.5rem;
    padding-bottom: 0.2rem;
}

.resume h1, h2, h3{
    text-align: center;
}


hr.star-light,
hr.star-primary {
  max-width: 250px;
  margin: 25px auto 30px;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 5px; }

hr.star-light:after,
hr.star-primary:after {
  font-family: FontAwesome;
  font-size: 2em;
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 .25em;
  content: '\f005'; }

hr.star-light {
  border-color: white; }

hr.star-light:after {
  color: white;
  background-color: #18BC9C; }

hr.star-primary {
  border-color: #2C3E50; }

hr.star-primary:after {
  color: #2C3E50;
  background-color: white; }